include pixelflux/Cargo.toml
include pixelflux/Cargo.lock
recursive-include pixelflux/src *
recursive-include pixelflux/nvcodec-sys *
recursive-exclude pixelflux *.so *.pyc
prune pixelflux/target
prune pixelflux/nvcodec-sys/target
include LICENSE
include LICENSES.md
include pyproject.toml
include README.md
include setup.py
